body {
    font-family: 'Jockey One', 'Roboto Condensed', sans-serif;
    background-color: #fff236;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

header {
    flex-direction: column;
}

h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;
    grid-row: span 2;
    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
        background-color: black;
    }

    .top {
        grid-row: 1;
        min-height: 50vh;
        .page-title {
            grid-column: span 4;
            color: #00ff38;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
        }

        .tahini {
            font-size: 2rem;
        }

        .drizzle {
            font-size: 1.5rem;
            color: #895ed9;
        }

        .chickpeas {
            font-size: 1.5rem;
            color: #fff236;
        }

        .top-text {
            grid-column: span 7;
            color: #00ff38;
        }
    }
    
    .bottom {
        grid-row: 2;
        min-height: 50vh;
        .image {
            grid-column: span 5;
            max-width: 100%;
            height: auto;
        }
        .bottom-text {
            grid-column: span 6;
            color: #895ed9;
        }
    }

}

