body {
    font-family: 'Jockey One', 'Roboto Condensed', sans-serif;
    background-color: yellow;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

header {
    flex-direction: column;
}

h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 3rem;
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;
    grid-row: span 2;
    background-color: black;
    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
    }

    .top {
        grid-row: 1;
        min-height: 50vh;
        .page-title {
            grid-column: span 4;
            color: green;
        }
        .top-text {
            grid-column: span 7;
            color: green;
        }
    }
    
    .bottom {
        grid-row: 2;
        min-height: 50vh;
        .image {
            grid-column: span 5;
        }
        .bottom-text {
            grid-column: span 6;
            color: purple;
        }
    }

}

