body {
    font-family: 'Jockey One', 'Roboto Condensed', sans-serif;
    background-color: #fff236;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

header {
    flex-direction: column;
    align-items: center;
}

button {
    width: 70px;
    height: 70px;
    background: transparent;
    border: 0;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 4;
    pointer-events: none;
    span {
        display: block;
        width: 50px;
        height: 8px;
        background-color: #fff236;
        border-radius: 8px;
        margin-bottom: 8px;
    }
}

input {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 4;
    width: 70px;
    height: 70px;
    opacity: 0;
}

input:checked + .menu span {
    position: absolute;
    transition: all 0.3s ease-in-out;
}

input:checked + .menu span:nth-child(2) {
    opacity: 0;
}

input:checked + .menu span:nth-child(1) {
    transform: rotate(45deg);
}

input:checked + .menu span:nth-child(3) {
    transform: rotate(-45deg);
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(71, 0, 186,);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black;
    visibility: hidden;
    z-index: 3;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        text-align: center;
    }
}

input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
}

h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 70px;
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;
    grid-row: span 2;
    border-right: 16px solid #fff236;
    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
        background-color: black;
    }

    .top {
        grid-row: 1;
        min-height: 50vh;
        .page-title {
            grid-column: span 4;
            color: #00ff38;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            position: relative;
        }

        .tahini {
            font-size: 6rem;
            z-index: 1;
        }

        .drizzle {
            font-size: 3rem;
            color: #895ed9;
            position: absolute;
            text-align: right;
            top: 90px;
            left: 217px;
        }

        .chickpeas {
            font-size: 3rem;
            color: #fff236;
            position: absolute;
            text-align: left;
            left: 145px;
            top: 185px;
            z-index: 0; 
        }

        .top-text {
            grid-column: span 7;
            color: #00ff38;
            font-size: 2rem;
            text-align: left;
            padding: 60px;
        }
    }
    
    .bottom {
        grid-row: 2;
        min-height: 50vh;
        .image {
            grid-column: span 5;
            max-width: 100%;
            height: auto;
        }
        .bottom-text {
            grid-column: span 6;
            color: #895ed9;
            background-color: #ffffff;
            font-size: 2rem;
            text-align: left;
            padding: 20px;
            border-left: 16px solid #fff236;
        }
        .explore-menu {
            color: black;
            text-transform: uppercase;
            display: block;
        }
    }

}

