body {
    font-family: 'Jockey One', 'Roboto Condensed', sans-serif;
    background-color: aqua;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: antiquewhite;
    h1 {
        margin: 0;
    }
}
