.page1 {
    .top {
        .page-title {
            .tahini {
                font-size: 8rem;
            }
            .drizzle {
                font-size: 3rem;
                top: -68px;
                left: 10px;
            }
            .chickpeas {
                font-size: 3rem;
                top: 50px;
                left: -45px;
            }
        }
        .top-text{
            font-size: 2rem;
        }
    }
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .image {
        display: flex;
        grid-column: 1 / span 1;
    }
    .bottom-text {
        grid-column: 2 / span 1;
        font-size: 3rem;
    }
}