/*Color*/
$background-color: #fff236;
$secondary-color: #ac76ff;
$background-color-green: #00ff38;
$text-color-green: #00ff38;
$text-color-purple: #895ed9;
$text-color-blue: #36a8ce;
$text-color-yellow: #fff236;



/*font*/
$font-family: 'Jockey One', 'Roboto Condensed', sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

